.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: calc(100vh - 20px);
  gap: 1.33vw;
  transition: 0.2s;
  padding-top: 20px;
  padding-left: 280px;
  padding-right: 25px;
}

@media (max-width: 500px) {
  .container {
    padding-left: 80px;
    padding-bottom: 20px;
    height: auto;
  }
}
