.container {
  display: none;
  flex-direction: column;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 101;

  padding: 1rem;
  background-color: white;

  border-radius: 0.33rem;
  border: 2px solid rgb(222, 222, 222);

  opacity: 0;
  transition: ease-in-out 0.3s;
}

.close {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  right: calc(-1rem - 30px);
  cursor: pointer;

  background-color: white;
  border-radius: 50%;

  border: 2px solid rgb(222, 222, 222);

  width: 26px;
  height: 26px;

  transition: 0.3s;

  -webkit-tap-highlight-color: transparent;
}

.close:hover {
  border-color: red;
  border-radius: 0% 20% 50% 50%;
}

@media (max-width: 500px) {
  .close {
    top: 10px;
    right: calc(-1rem + 30px);
  }
}
