.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  padding-left: 270px;
  padding-right: 50px;
  transition: 0.2s;
}

.nowaybrah {
  width: 60vw;

  text-align: center;
  font-size: 3.5rem;
  transition: 0.2s;
}

.img {
  opacity: 0.4;
  transition: 0.2s;
}

@media (max-width: 750px) {
  .img {
    width: 200px !important;
    height: auto;
  }
  .nowaybrah {
    display: none;
  }
}

@media (max-width: 800px) {
  .nowaybrah {
    font-size: 2rem;
  }
  .img {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .nowaybrah {
    display: block !important;
    font-size: 1.5rem;
  }
  .container {
    padding-left: 80px;
  }
}
