.topbar {
  margin-top: 10px;
  width: 100%;
  /* border-bottom: 1px solid #333; */
}
.topbar p {
  text-align: center;
  font-size: 32px;
  margin: 0;
}

.topbar img {
  position: absolute;
  right: 50px;
  width: 33px;
  height: 33px;
  top: 14px;
  cursor: pointer;
}

.logInButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  right: 133px;
  color: #fff;
  background-color: black;
  top: 16px;
  border-radius: 6px;
  height: 32px;
  width: 160px;
  cursor: pointer;
}

.Content {
  padding: 0 250px;
}

.mainView {
  height: 100vh;
  /* cred ca trebuie minus inaltimea la topbar ca sa arate perfect */
}

.insideMainView {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.insideMainView h1 {
  font-size: 50px;
}
.insideMainView p {
  font-size: 18px;
}

.scrollMainView {
  margin-top: 20px;
}

.scrollMainView img {
  float: left;
  width: 74px;
  height: 54px;
}
.scrollMainView p {
  display: block !important;
  font-size: 14px;
  width: 21vw;
}
